<div class="container">
  <div class="sideNavHeader">Users</div>
  <div class="header">
    <button
      *ngFor="let detail of userSpecifications; index as id"
      (click)="onUserBtn(id)"
    >
      {{ detail.name }}
    </button>
  </div>
  <div class="sideNavContent">
    <ul>
      <li
        *ngFor="let userdata of usersName; index as id"
        [routerLink]="['/dataDetails/users', id]"
      >
        {{ userdata.name }}
      </li>
    </ul>
  </div>
  <p>Body</p>
  <router-outlet></router-outlet>
  <!-- <div class="body">
    <p>User Id is {{ user.id }} loaded!</p>
    <p>User name is {{ user.name }} loaded!</p>
    <p>User eamil is {{ user.email }}</p>
  </div> -->
  <div class="sideNavFooter"></div>
  <div class="footer"></div>
</div>
<!-- 
<div>
  <a
    [routerLink]="['/dataDetails/users', '10', 'Anna', 'aa@gma']"
    [queryParams]="{ allowEdit: '1' }"
    fragment="loading"
    >Load Anna(10)</a
  >
</div> -->
<app-void-button [text]="'Save'" [color]="'primary'"></app-void-button>
